.envrc

# Project-specific
spy.log
/logs/

# Java
hs_err_pid*

# maven
target/
/.maven/
/.m2/
dependency-reduced-pom.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
**/pom.xml.releaseBackup
/release.properties

# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.
**/*.iml

