# https://raw.githubusercontent.com/github/gitignore/master/Global/JetBrains.gitignore

# User-specific stuff
/shelf
/workspace.xml

# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.
/*.iml
/compiler.xml
/encodings.xml
/libraries
/modules.xml
/jarRepositories.xml

# Other IntelliJ plugins
/checkstyle-idea.xml
/git_toolbox_prj.xml

/jsonSchemas.xml
/misc.xml

# GitHub Copilot persisted chat sessions
/copilot/chatSessions
